html {
    min-height: 5em;
    min-width: 20em;
}
body{
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2{
    margin: 0px;
}
button{
    padding: 6px;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:0;
    border-radius: 12px;
    font-size: 12px;
    width: fit-content;
    transition: 100ms;
    margin-bottom: 2px;
}
#add{
    background-color: lawngreen;
}
#remove{
    background-color: red;
}
button:hover#add{
    background-color: rgb(107, 196, 19);
}
button:hover#remove{
    background-color: rgb(220, 22, 22);
}
button:active{
    box-shadow: 0 1px #666;
}