html {
    min-height: 5em;
    min-width: 20em;
}
body{
    background: white;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode{
    background: #1c1b22;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
h1, h2{
    margin: 0px;
}
button{
    padding: 6px;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:0;
    border-radius: 12px;
    font-size: 12px;
    width: fit-content;
    transition: 100ms;
    margin-bottom: 2px;
}

#add, button:hover#add.dark-mode{
    background-color: lawngreen;
}
#remove, button:hover#remove.dark-mode{
    background-color: red;
}

button:hover#add, #add.dark-mode{
    background-color: rgb(107, 196, 19);
}
button:hover#remove, #remove.dark-mode{
    background-color: rgb(204, 28, 28);
}
button:active{
    box-shadow: 0 1px #666;
}

button#dark-mode-toggle{
    padding: 4px;
    /* margin: 5px; */
    float: right;
    background-color: white;
    border: black 1px solid;
}

button#dark-mode-toggle.dark-mode{
    padding: 4px;
    background-color: #1c1b22;
    border: white 1px solid;
}

svg#light-icon{
    stroke: black;
    stroke-width: 3px;
    display: block;
}
    
svg#light-icon.dark-mode{
    display: none;
}

svg#dark-icon{
    display: none;
}
    
svg#dark-icon.dark-mode{
    display: block;
}
